<div id="<%= dom_id waiver %>">
  <p>
    <strong>User:</strong>
    <%= waiver.user_id %>
  </p>

  <p>
    <strong>Run:</strong>
    <%= waiver.run_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= waiver.name %>
  </p>

</div>
