<div class="card shadow-2xl lg:card-side bg-primary text-primary-content">
  <div class="card-body">
    <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
  </div>
</div>

<div class="card text-center shadow-2xl lg:card-side bg-accent text-accent-content">
  <div class="card-body">
    <p>Upcoming Runs!</p>
    <div class="justify-center card-actions">
      <button class="btn btn-accent">Start now</button>
      <button class="btn btn-accent">More info</button>
    </div>
  </div>
</div>

<div class="card text-center shadow-lg compact side bg-base-100">
  <div class="flex-row items-center space-x-4 card-body">
    <div>
      <p class="card-title text-primary">Previous Runs</p>
    </div>
  </div>
</div>
