<div class="card shadow-2xl lg:card-side bg-primary text-primary-content">
  <div class="card-body">
    <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
  </div>
</div>

<div class="card text-center shadow-2xl lg:card-side bg-accent text-accent-content">
  <div class="card-body">
    <p>Upcoming Runs!</p>
    <div class="justify-center card-actions">
      <button class="btn btn-accent">Start now</button>
      <button class="btn btn-accent">More info</button>
    </div>
  </div>
</div>

<div class="card text-center shadow-lg compact side bg-base-100">
  <div class="flex-row items-center space-x-4 card-body">
    <div>
      <p class="card-title text-primary">Previous Runs</p>
    </div>
  </div>
</div>
<div class="card shadow-lg compact side bg-base-100">
  <div class="flex-row items-center space-x-4 card-body">
    <div class="flex-1">
      <h2 class="card-title">Meredith Mayer</h2>
      <p class="text-base-content text-opacity-40">Data Liaison</p>
    </div>
    <div class="flex-0"><button class="btn btn-sm">Follow</button></div>
  </div>
</div>
<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure><img src="https://picsum.photos/id/1005/600/400"></figure>
  <div class="flex-row items-center space-x-4 card-body">
    <div>
      <h2 class="card-title">Karolann Collins</h2>
      <p class="text-base-content text-opacity-40">Direct Interactions Liaison</p>
    </div>
  </div>
</div>

<div class="card col-span-1 row-span-3 shadow-lg xl:col-span-2 bg-base-100">
  <div class="card-body">
    <h2 class="my-4 text-4xl font-bold card-title">Top 10 UI Components</h2>
    <div class="mb-4 space-x-2 card-actions">
      <div class="badge badge-ghost">Colors</div>
      <div class="badge badge-ghost">UI Design</div>
      <div class="badge badge-ghost">Creativity</div>
    </div>
    <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
    <div class="justify-end space-x-2 card-actions"><button class="btn btn-primary">Login</button> <button class="btn">Register</button></div>
    <div class="flex items-center space-x-8 flex-wrap">
      <div class="avatar">
        <div class="mb-8 w-24 h-24 mask mask-squircle"><img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"></div>
      </div>

    </div>
  </div>
</div>
